<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>jonny</p>
            <p><a href="mailto:jonnygim.dev@gmail.com">jonny@mail.com</a></p>
            <p><time datetime="2022-10-01T00:00:00">2022-10-01</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment">댓글</label>
                    <textarea id="articleComment" placeholder="댓글 쓰기..." rows="3"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2022-10-01</small></time>
                            <strong>jonny</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-10-01</small></time>
                            <strong>jonny</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">이전 글</a>
                <a href="#">다음 글</a>
            </nav>
        </section>
    </main>

    <footer id="footer"></footer>

</body>
</html>
